/* INFO BUTTON */

.info-btn {
    position: absolute;
    top: $topPos;
    left: $hiddenLeftPos;
    padding: 6px 14px;
    background: $white;
    color: $grey;
    opacity: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;

    &:hover {
        background-color: #f2f2f2;
        color: $black;
        cursor: pointer;
    }

    &.is-active {
        background: $app-baseColor;
        color: $white;
        box-shadow: none;
    }

    &.is-hidden {
        opacity: 0.3;
        background: $white;
        color: $grey;

        &:hover {
            opacity: 1;
        }
    }

    &.is-routing {

        & .info-btn__info-icon {
            display: none;
        }

        & .info-btn__arrow-icon-left {
            display: block;
        }

        & .info-btn__arrow-icon-right {
            display: none;
        }
    }

    &.is-routing-hidden {

        & .info-btn__info-icon {
            display: none;
        }

        & .info-btn__arrow-icon-left {
            display: none;
        }

        & .info-btn__arrow-icon-right {
            display: block;
        }
    }

    &.is-routing,
    &.is-routing-hidden {
        top: -10px;
        left: -50px;
        padding: 8px 14px;
    }
}

.info-btn__arrow-icon-left,
.info-btn__arrow-icon-right {
    display: none;
}
