// Layout
$header-height:                60px;

$panel-left-width:            320px;
$panel-right-width:           320px;

// Colors
$app-baseColor: #337ab7;    //#95a661;    //#901560;   //#9b477a;
//$app-primary:  darken($app-baseColor, 6.5%) !default;

$app-lightColor: lighten($app-baseColor, 1.5%) !default ;  //   #0a964e; //#5c95c6;
$app-lighterColor: lighten($app-baseColor, 3%) !default ;   //#14ad5e; //#add2f3;
$app-darkColor: darken($app-baseColor, 5%) !default ;  //#048e47;  //#1e4b70;
$app-darkerColor: darken($app-baseColor, 10%) !default ;

//$blue: #337ab7;
//$light-blue: #5c95c6;
//$lighter-blue: #add2f3;
//$dark-blue: #1e4b70;

$white: #fff;
$black: #292929;
$grey: #6e6e6e;

// positioning
$leftPos: 0px;
$hiddenLeftPos: -35px;
$topPos: 6px;
$verticalSpacing: 10px;
