/* FLOOR PICKER */

.fp-btn {
    height: 32px;
    padding-top: 5px;
    color: #6e6e6e;
    cursor: pointer;
    background-color: #ffffff;
    text-align: center;
    box-sizing: border-box;
    border-radius: 0;
    user-select: none;
}

.fp-btn:hover {
    background-color: #eeeeee;
    border-radius: 0;
}

.fp-btn:active {
    background-color: #dddddd;
}

div.all-btn:disabled  {

    background-color: #eeeeee;
    border-color: #827f7f;
    color: #999999;
}

.fp-wrapper {
    position: absolute;
    top: 375px;
    left: $hiddenLeftPos;
    display: block;

    &:hide {
      display: none;
    }
}

.all-btn {
        display: block;
        padding: 6px 0;
        border-radius: 0;
        border-bottom: 1px solid rgba(50,50,50,0.2);

        &:hover {
            background-color: #f2f2f2;
            color: #000;
        }

        &.is-selected {
            background-color: $app-lightColor;
            color: $white;
        }


}

#floor-picker {
    position: relative;
    top: -45px;
}

#floorPicker {
    font-family: sans-serif;
    font-size: 16px;
}

#floorPicker .floors-div {
    width: 33px;
    box-sizing: border-box;
    background: $white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    color: #6e6e6e
}

.floors-div {
    .btn {
        display: block;
        padding: 6px 0;
        border-radius: 0;
        border-bottom: 1px solid rgba(50,50,50,0.2);
        cursor: pointer;

        &:hover {
            background-color: #f2f2f2;
            color: #000;
        }

        &.is-selected {
            background-color: $app-lightColor;
            color: $white;
        }

        &.disabled {
            cursor: none;
            background-color: #eeeeee;
            border-color: #827f7f;
            color: #999999;
        }
    }
}

.fp-header {
    padding: 10px;
    background: #fff;
    border-bottom: 1px solid rgba(50,50,50,1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    color: #6e6e6e;
    text-align: center;
}

#floorPicker.set-height {
    height: 13.4em; /* 2em for each floor, 1.7em for two scroll buttons */
}

#floorPicker.set-height .floors-div {
    height: 10em;
    overflow: hidden;
}

#floorPicker.set-height .floors-div .btn {
    border-top: none;
}

#floorPicker .scroll-btn {
    height: 1.7em;
    line-height: 1.6em;
}

.vertical .btn:not(:first-of-type) {
    border-top: none;
}


@media all and (max-width: 400px) and (min-height: 525px + 1) {
    #floorPicker {
        top: 150px;
        left: 10px;
    }
}

/* if short, put mobile floorpicker back in the bottom left */
@media all and (max-height: 525px),
all and (max-width: 500px) {
    #floorPicker {
        bottom: 50px;
        top: auto;
        right: 10px;
        left: auto;
    }
    .small-logo #floorPicker {
        bottom: 30px;
    }
}
