.btn {
    cursor: pointer;
    background-color: #ffffff;
    width: 2.5em;
    text-align: center;
    border: 1px solid #aaa;    
    box-sizing: border-box;
    border-radius: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn:hover {
    background-color: #eeeeee;
    border-radius: 0;
}

.btn:active {
    background-color: #dddddd;
}

.btn.disabled  {
    cursor: default;
    background-color: #eeeeee;
    border-color: #dddddd;
    color: #999999 !important;
}

.btn.highlight {
    background-color: #999999;
    color: #ffffff;
}


#floorPicker {
    font-family: sans-serif;
    font-size: 16px;
    position: absolute;
    top: 200px;
    left: 15px;
}

.picker-wrapper .btn {
    height: 2em;
    line-height: 2em;
}

#floorPicker .floors-div {
    box-sizing: border-box;
    border-color: #aaa;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
}

#floorPicker.set-height {
    height: 13.4em; /* 2em for each floor, 1.7em for two scroll buttons */
}

#floorPicker.set-height .floors-div {
    height: 10em;
    overflow: hidden;
}

#floorPicker.set-height .floors-div .btn {
    border-top: none;
}

#floorPicker .scroll-btn {
    height: 1.7em;
    line-height: 1.6em;
}

.hide {
    display: none !important;
}

.vertical {
    display: inline-block;
}

.vertical .btn:not(:first-of-type) {
    border-top: none;
}


@media all and (max-width: 400px) and (min-height: 525px + 1) {
    #floorPicker {
        top: 150px;
        left: 10px;
    }
}

/* if short, put mobile floorpicker back in the bottom left */
@media all and (max-height: 525px),
all and (max-width: 500px) {
    #floorPicker {
        bottom: 50px;
        top: auto;
        right: 10px;
        left: auto;
    }
    .small-logo #floorPicker {
        bottom: 30px;
    }
}
