/* CROSS PANEL */

.layer-slides {
    position: absolute;
    top: 54px;
    left: $hiddenLeftPos;
}

.cp-slides {
    width: 32px;
    height: 32px;
    padding-top: 3px;
    overflow: hidden;
    background: $white;
    color: #6e6e6e;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    font-size: 19px;
    text-align: center;
    transition: all ease 0.3s;

    &:hover {
        background: #f2f2f2;
        cursor: pointer;
    }

    &.is-selected {
        background: $app-baseColor;

        .slides__icon {
            fill: $white;
        }
    }

    &.is-hidden {
        display: none;
    }
}

.slides__icon {
    width: 24px;
    height: 24px;
    fill: #6e6e6e;
}

.cp-slide__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.cp-slide__text {
    width: 65px;
    height: 30px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cp-slide__img {
    width: 65px;
    height: 65px;
}

.cp-slides__container,
.cp-layers__container {
    position: absolute;
    left: 80px;
    width: 500px;
    max-height: 500px;
    overflow-y: auto;
    padding: 10px;
    background: rgba($app-baseColor, 0.9);
    color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    transform: scale(0);
    transform-origin:left bottom;
    transition: all ease-in-out 0.3s;

    &.is-active {
        transform: scale(1);
    }
}

.cp-slides__container {
    bottom: 135px;
}

.cp-slides__close {
    float: right;

    &:hover {
        color: darken($white, 10%);
        cursor: pointer;
    }
}

.cp-slides__header {
    margin-top: 0;
}

.cp-slides__list {
    width: 100%;
    padding: 0;
    list-style: none;
}

// Responsive
@media all and (max-width: 400px) and (min-height: 525px + 1) {

}

@media all and (max-height: 525px),
all and (max-width: 500px) {

}
